/* Typeface: PT Root UI */

:where(.root-metrics-fix),
figcaption,
h1,
p,
small,
.content > h2,
.content > ul,
.content > ol {
	@mixin root-compensator;

	&::before {
		content: '';
		display: table;
		margin-block-end: calc(-0.35em - (1lh - 1em) / 2);
	}

	&::after {
		content: '';
		display: table;
		margin-block-start: calc(-0.15em - (1lh - 1em) / 2);
	}
}

/* Typeface: Damn */

:where(.damn-metrics-fix) {
	@mixin damn-compensator;

	&::before {
		content: '';
		display: table;
		margin-block-end: calc(-0.05em - (1lh - 1em) / 2);
	}

	&::after {
		content: '';
		display: table;
		margin-block-start: calc(-0.25em - (1lh - 1em) / 2);
	}
}

/* Typeface: Drabina */

:where(.drabina-metrics-fix) {
	&::before {
		content: '';
		display: table;
		margin-block-end: calc(-0.1724em - (1lh - 1em) / 2);
	}

	&::after {
		content: '';
		display: table;
		margin-block-start: calc(-0.1379em - (1lh - 1em) / 2);
	}
}
