@font-face {
	font-family: 'PT Root UI';
	font-weight: 300 700;
	font-style: normal;
	font-display: block;
	src: url('/fonts/pt-root-ui-vf.woff2') format('woff2');
}

@font-face {
	font-family: 'Damn';
	font-weight: bold;
	font-style: normal;
	font-display: block;
	src: url('/fonts/damn.woff2') format('woff2');
}

@font-face {
	font-family: 'Drabina';
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	src: url('/fonts/drabina-solid.woff2') format('woff2');
}
