/* Links */

a {
	@mixin hover-focus-states {
		color: var(--accent-hover);
		text-decoration-color: var(--accent-hover);
	}

	padding-block: 0.1em 0.3em;

	color: var(--accent);
	text-decoration-color: var(--accent-border);
	text-decoration-line: var(--underline);
	text-decoration-thickness: var(--underline-thickness) !important;
	text-decoration-skip-ink: none;
	text-underline-offset: 0.35em;

	@media (hover: hover) and (pointer: fine) {
		&[href*="://"]
		{
			cursor: alias;
		}
	}

	&:focus-visible {
		--underline-thickness: var(--outline-thickness);

		outline-color: transparent;
		outline-style: solid;
	}
}

/* Headings */

strong,
h1,
h2,
h3 {
	color: var(--strong);

	a {
		--color__text: var(--color__accent);
	}
}

h1,
h2,
h3 {
	margin-block: 0;
}

h1 {
	@mixin root-compensator;

	max-inline-size: 14em;
	margin-block-end: var(--gap-2);
	padding-block-start: var(--gap-relative);

	font-size: 2em;
	line-height: 0.9;
	letter-spacing: -0.04em;
}

h2 {
	font-size: 1.5em;
	line-height: 1;
	letter-spacing: -0.03em;

	small + & {
		margin-block-start: var(--gap-relative);
	}

	a {
		text-underline-offset: 0.2em;
	}
}

h3 {
	font-size: inherit;
	line-height: inherit;
}

/* Text */

p,
pre {
	margin: 0;
}

/* Lists */

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Media */

img,
video,
iframe {
	display: block;
	max-inline-size: 100%;
	block-size: auto;
}

img {
	image-rendering: smooth;
}

iframe {
	border: 0;
}

/* Quotes */

blockquote {
	margin: 0;
	padding-inline-start: var(--gap);
}

/* Details */

details {
	&::details-content {
		overflow: clip;
		block-size: 0;
		transition:
			block-size 0.3s ease,
			content-visibility 0.3s ease allow-discrete;
	}

	&[open]::details-content {
		block-size: auto;
	}

	p:first-of-type {
		margin-block-start: 0;
		padding-block-start: calc(var(--gap) * 2);
	}

	:last-child {
		margin-block-end: 0;
	}
}

/* Emphasis */

small {
	display: block;
}

/* Capitals */

.caps,
.uppercase {
	letter-spacing: 0.1em;
}

.caps._has-margin {
	margin-inline-end: -0.1em;
}

.uppercase {
	text-transform: uppercase;
}
